
{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Tigeressss</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, 
            quam aliquid! Officia ea ullam dolores accusantium, molestiae 
            incidunt maxime eveniet magnam est praesentium? Assumenda, 
            necessitatibus totam velit quis voluptatibus quam.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/tigre.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}
 